---
type Props = {
    slug: string;
    title: string;
    description: string;
};

const { slug, description, title } = Astro.props;
---

<a href={`/projects/${slug}`} class="p-2 bg-slate-700 rounded-md">
    <h3 transition:name={`${slug}-title`} class="text-2xl font-bold">
        {title}
    </h3>
    <p transition:name={`${slug}-description`} class="text-md">{description}</p>
</a>
